.resume{
    position: fixed;
    left: 300px;
    width: calc(100% - 300px);
    height: 100%;
    overflow: hidden scroll;

}

@media only screen and (max-width: 980px) {
    .resume{
        position: absolute;
        left: 0px;
        width: 100%;
        overflow:auto;
    }
}