  
  .About {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 100%;
  width:100%;
  background: linear-gradient(to bottom right, #45C8C9, rgba(2, 19, 75, 0.972));
  display: inline-block;
  }
  



.myName {
  font-size: 4%;
  color: aliceblue;
  transform: rotate(-40deg);
  display: block;
  top: 50%;
}
.scrollDownImage{
  color: white;
  transform:translateY(20%);
  height:2%;
  width:2%;
}

.pulse {
  color: white;
  animation-name: pulse;
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {transform:translateY(0%);}
  50% {transform:translateY(0.8%);}
  100% {transform:translateY(0%);}
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .pulse {
    text-align: center;
  }
  .scrollDownImage{
    color: white;
    transform:translateY(45%);
    height:10%;
    width:10%;
  }
  @keyframes pulse {
    0% {transform:translateY(0%) scale(1);}
    50% {transform:translateY(0.8%) scale(1);}
    100% {transform:translateY(0%) scale(1);}
  }
  .About{
    display: none !important;
  }
  .mobileHome{
    background: gray;
    height: 100% !important;
    display: block !important;
  }
  .backgroundText{
    transform:translateY(30%);
  }
  .scrollTextMobile {
    transform:translateY(40%);
  }
  h1 {
    text-align: center;
    justify-content: center;
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 769px) {
  /* For desktop: */
  .mobileHome{
    display: none !important;
  }
}