.navButton{
    padding-left:10px; 
    background-color: rgb(206 206 206 / 25%);
    transform:scale(1);
}
.navButton:hover{
    padding-left:50px;
    background-color: rgb(150 150 150 / 80%);
    transform:scale(1.3);
    }

.navButtonRight{
    transform:rotateY(180deg) scale(1);
    padding-left:10px; 
    background-color: rgb(206 206 206 / 25%);
}

.navButtonRight:hover{
    transform:scale(1.3) rotateY(180deg);
    padding-left:50px;
    background-color: rgb(150 150 150 / 80%);
}


